@import 'navbar';
@import 'hero';
@import 'animation';
@import 'photo-grid';
@import 'footer';

@import 'catalog';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Outfit:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

